# Database
MONGODB_URI="Replace MongoDB Connection String!"
MONGODB_DB="Replace Database Name!"

# Auth
# Generate With: OpenSSL Rand -base64 32
NEXT_AUTH_SECRET="Replace Long Random String!"

# Examples:
# http://localhost:3000
# https://vault.skelvric.com
NEXT_AUTH_URL="http://localhost:3000"

# Security
# Generate With: OpenSSL Rand -base64 32
ENCRYPTION_KEY="Replace Long Random Secret!"

# Generate With: OpenSSL Rand -base64 16
ENCRYPTION_SALT="Replace Base64 Random Salt!"

# Environment
# Development - Local Development
# Production  - Production Deployment
# Test        - Automated Testing
NODE_ENV="development"
